.navigation {
        /*Navigationstyle fra dans, dans, dans tema (ballet)*/ 
        display: flex; 
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        width: 95%;
      
      }
      
.navigation ul li a {
        text-decoration: none;
        padding: 0.5rem;
        color: #3B3B4A;
        display: block;
        text-align: center;
        justify-content: center;
        font-size: 10px;
        font-weight: regular;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        
      }   
ul{
        list-style-type: none;
    }

body {
        max-width: 100%;
    }

footer {
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



/* Style the active link (or home/logo) */
.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Mathilde (250 linjer) */

.personlig{
    text-align: center;
   

}
.personligtræning{
    text-align: center;
    padding-top: 20px;
}

/* link til hvordan man laver stregen og styler den https://blog.hubspot.com/website/blog/tabid/6307/bid/19727/easy-html-tricks-for-the-non-technical-marketer.aspx*/
hr{ 
    width: 80%;
    height: 1px;
    border-width:0;
    background-color:#AC7A64;
}
.forløbgrid-container{
    margin-bottom: 10%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    }
.styrke_img{
    height: 200px;
}


.forløb_text{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.pris{
    text-align: center;
    padding-right: 50px;
    padding-bottom: 10px;

}
ul{
    list-style-type: none;
}
.indgang{
    padding-left: 25px;
    padding-bottom: 10px;
}

.anden_sektion{
    background-color: #ffffff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.session{
    text-align: center;
    padding-bottom: 20px;
}

.brun_section{
    background-color: #A79C8F;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}
/* CSS https://getcssscan.com/css-buttons-examples */
.forløb-button {
    align-items: center;
    background-color: #8D8072;
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    color:#ffffff;
    cursor: pointer;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 0 auto;
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {
    .navigation  {
        display: flex;
    }
.personligtræning{
    font-size: 10px;
}
.personligtræning{
    font-size: 10px;
}


.topnav ul{
    flex-direction: row;
}  

.personligtræning{
    font-size: 15px;
}

.forløbgrid-container{
    column-count: 2;
    margin-top: 10%;
    margin-bottom: 10%;
    }
}































































































































/*kan gå til 407*/












































































/* Mathilde l (250 linjer) */
.vægt-logo{
width: 16%;
height: 8%;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: normal;
    max-width: 100%;

}

.aboutmegrid-container {
    background-color:#DDD4C9;
    padding-top: 5%;
    padding-bottom: 5%;
}

.aboutmetext {
    font-family: effra, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-weight: lighter;
}

/* CSS https://getcssscan.com/css-buttons-examples */
.aboutme-button {
    align-items: center;
    background-color: #8D8072;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#FFFFFF;
    cursor: pointer;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 0 auto;
  }
 
.aboutmecontainer {
    column-count: 2;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rosalinje-top {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.rosalinje-bund {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.frontbillede {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.leftcolumn {
    float: left;
    column-width: 48%;
}

.rightcolumn {
    float: right;
    column-width: 48%;
}

.jw{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: normal;
    padding-right: 500%;
}
.instaikon{
    width: 20%;
    height: 20%;
    padding-left: 50%;
}

.followme{
    align-items: center;
    background-color:#707070;
    border: 0;
    border-radius: 7%;
    box-sizing: border-box;
    color:#ffffff;
    cursor: pointer;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 20px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 7%;
  }

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {
    .vægt-logo {
        width: 7%;
        height: 14%;
    }
    .navigation  {
        display: flex;
    }
    .rosalinje-top {
    display: none;
    }
    .aboutmegrid-container {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1px;
        grid-row-gap: 0px;
    }
    .frontbilledegrid {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        align-self: center;
        justify-content: center;
    }
    .frontbillede {
        width: 300px;
        height: 400px;
        border-radius: 8px;
        display: grid;
        justify-self: center;
        align-self: center;
        justify-content: center;
    } 
    .aboutmegrid {
        margin-top: 2rem;
        grid-column: 2;
        grid-row: 1;
    }
    .aboutmetext {
        font-size: 115%;
        text-align: center;
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        padding-top: 10%;
        text-transform: none;
        font-weight: lighter;
    }
    .jw{
        font-family: effra, sans-serif;
        text-align: center;
        font-weight: normal;
        padding-right: 900px;
        padding-top: 0.5rem;
    }
    .instaikon{
        width: 50px;
        height: 50px;
        padding-left: 450px;
    }
    .column-right {
        width: 500px;
    }
    .column-left {
        width: 500px;
        padding-left: 25%;
  
    }
    .followme{
        align-items: center;
        background-color:#707070;
        border: 0;
        border-radius: 5%;
        box-sizing: border-box;
        color:#ffffff;
        cursor: pointer;
        display: flex;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        justify-content: center;
        line-height: 20px;
        max-width: 200px;
        min-height: 20px;
        min-width: 0px;
        overflow: hidden;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        margin: 0 auto;
        font-size: 8px;
      }
    }

  













































































































































































































































































































































































    
/*jessicca*/
.h1-kontakt {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;


}

.h2-kontakt {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin: 25px;
}


.kontakt-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 100%;

}



.kontaktbox {
    width: 300px;
    height: 30px;
    margin: 20px;
}



.sendknap {
    width: 70px;
    height: 30px;
    text-align: center;
    border-color: #AC7A64;
    color: #AC7A64;
    margin-left: 10px;
    padding: 5px;
    background-color: #FFFFFF;
    margin-top: -10px;

}


.textbox {
    width: 100%;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 40px;
}

/* Dette gør, at de checkbokse som browseren har pr. default bliver gemt, så man kan lave sine egne*/
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #AC7A64; 

}



/* Hjælp til styling af tekstbokse i kontaktformnularen er taget fra W3schools 
d. 1/6-22 på: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    resize: vertical;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-right: 0px;
}

/*billede som kun skal vises på computer versionen*/
.kontakt-jamilla {
    display: none;
}



/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {

    .h1-kontakt {
        font-size: 35px;
    
    }
    
    .h2-kontakt {
        font-size: 22px;
        margin: 25px;
    }
    
    .rosalinje {
        display: none;
    }

    .kontakt-container {
        width: 500px;
        
    }

    .kontakt-jamilla {
        display: initial;
        width: 500px;
        margin: 100px;
        
    }

    .kontakt-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1px;
        
    }


    .sendknap {
        width: 100px;
        height: 45px;
    }

    .checkbox-container {
        padding-left: 35px;
        margin-bottom: 30px;
        cursor: pointer;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 40px;
    }

}
















































































































































































































































































































    
























































































































































































































































































































































































































































































/* Hanna (250) */
.navn {
text-align: center;
font-family: utile-narrow, sans-serif;
font-size: 30px;
font-weight: lighter;
margin-bottom: -25px;
}

.titelnavn {
color: #909090;
font-weight: lighter;
font-family: utile-narrow, sans-serif;
font-size: 20px;
}

.rosalinje {
    margin-top: 15px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.forside {
text-align: center;
max-width: 100%;
background-color:#DDD4C9;
padding-top: 5%;
padding-bottom: 5%;
}

.introbillede {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.introtitel {
    font-family: utile-narrow,sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 40px;
    text-align: left;
    margin-left: 10px;
}

.introtext {
    font-family: effra, sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 10px;
}

.træningsforløb-knap {
    align-items: center;
    background-color: #8D8072;
    border: 0;
    border-radius: 5px;
    color:#FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: effra, sans-serif;
    font-weight: 200;
    min-height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    touch-action: manipulation;
    margin: 0 auto;
}

.checklist {
    text-align: center;
}

.checktext {
    font-family: effra, sans-serif;
}
.minbaggrund {
    text-align: center;
}

.baggrundtext {
    font-family: effra, sans-serif;
}

.fokus {
    text-align: center;
}

.fokustext {
    font-family: effra, sans-serif;
}

.titeludtalelser {
    text-align: center;
    font-family: utile-narrow,sans-serif;
}

/* rounded img - border radius fra https://www.w3schools.com/howto/howto_css_rounded_images.asp */
.klara {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 35px;
}

.klaraudtalelse {
    font-family: effra, sans-serif;
}

.klaranavn {
    font-family: utile-narrow, sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: -10px;
}

.kontakt {
    background-color: #A79C8F;
    padding-top: 20px;
    padding-bottom: 50px;
}
















































































































































































/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {
    

    .navigation  {
        display: flex;
    }

    .rosalinje {
        width: 80%;
    }
    
    }


/* Jessica (250) */
































