    .navigation {
        /*Navigationstyle fra dans, dans, dans tema (ballet)*/ 
        display: flex; 
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        width: 95%;
      
      }
      
      .navigation ul li a {
        text-decoration: none;
        padding: 0.5rem;
        color: #3B3B4A;
        display: block;
        text-align: center;
        justify-content: center;
        font-size: 10px;
        font-weight: regular;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        
      }   
    ul{
        list-style-type: none;
    }

    body {
        max-width: 100%;
    }

footer {
    text-transform: uppercase;
}


    





/* Mathilde (250 linjer) */
















































































































































































































/* Mathilde l (250 linjer) */
.header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    max-width: 100%;

}

.aboutmegrid-container {
    background-color:#DDD4C9;
    padding-top: 5%;
    padding-bottom: 5%;
}

.aboutmetext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-weight: lighter;
}

/* CSS https://getcssscan.com/css-buttons-examples */
.aboutme-button {
    align-items: center;
    background-color: #8D8072;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#FFFFFF;
    cursor: pointer;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 0 auto;
  }
 
.aboutmecontainer {
    column-count: 2;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rosalinje {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;


}
.frontbillede {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;


}

.leftcolumn {
    float: left;
    column-width: 48%;

}

.rightcolumn {
    float: right;
    column-width: 48%;

}
.followme{
    align-items: center;
    background-color:#707070;
    border: 0;
    border-radius: 7%;
    box-sizing: border-box;
    color:#ffffff;
    cursor: pointer;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 20px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 7%;
  }

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {
    .navigation  {
        display: flex;
    }
    .rosalinje {
        width: 80%;
    }
    .aboutmegrid-container {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1px;
        grid-row-gap: 0px;
    }
    .frontbilledegrid {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        align-self: center;
        justify-content: center;
    }
    .frontbillede {
        width: 300px;
        height: 400px;
        border-radius: 8px;
        display: grid;
        justify-self: center;
        align-self: center;
        justify-content: center;
    } 
    .aboutmegrid {
        margin-top: 2rem;
        grid-column: 2;
        grid-row: 1;
    }
    .aboutmetext {
        font-size: 115%;
        text-align: center;
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        padding-top: 10%;
        text-transform: none;
        font-weight: lighter;
    }

    .column-right {
        width: 500px;
    }
    .column-left {
        width: 500px;
        padding-left: 25%;
    }
    }
    
























































































































































































































































































































































































































































































/* Hanna (250) */
.header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    max-width: 100%;
}

.forside {
    background-color:#DDD4C9;
    padding-top: 5%;
    padding-bottom: 5%;
}


























































































































































































/* 600px er breakpoint for telefoner */
@media screen and (min-width: 600px) {
    

    .navigation  {
        display: flex;
    }

    .rosalinje {
        width: 80%;
    }
    
    }


/* Jessica (250) */
































